<% provide(:title, "About") %>

<p> The TSX Stock Fetcher is 
	It's creators are Anojan Palarajah & Seyon Vasantharajan </p>
<p>
	Acknowledgements include: Roy Kwon, whose help and expertise was
	invaluable in this project
</p>
