<% provide(:title, @stock.symbol) %>
<div class="row">
	<aside class="span4">
		<section>
			<font size = "4">
			<b> Stock Symbol: </b> <%= @stock.symbol%>  		  </br>
			<b> Ask Price:   </b> <%= @stock.stockname %> 		  </br>
			<b> Close Price: </b> <%= @stock.closeprice %>  	  </br>
			<b> Market Cap:  </b> <%= @stock.marketcap %> Billion </br>
			

		</section>
	</aside>
</div>
