<h2> Display Page For A Single Stock </h2>

<b> Stock Symbol: 	   </b> <%=@stock.symbol %>    </br>
<b> Stock Name: 	   </b> <%=@stock.stockname %> </br>
<b> Stock Close Price: </b> <%=@stock.closeprice %>  </br>
<b> Stock Market Cap:  </b> <%=@stock.marketcap %> </br>
